{% extends 'base.html' %}


{% block content %}

<!-- Flask Flash message to user -->
{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for cat, msg in messages %}
            {% if cat == 'auth-success' %}
                <div class="container">
                    {{ msg }}
                    <button type="button" class="close" data-dismiss="alert" onclick="this.parentElement.style.display='none'">&times;</button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}


<header class="hero-section">
    <h3 class="header-text">Welcome to Cosmos, {{current_user.username }}!</h3>
    <h5 class="header-text">Enter planets and stars to build your universe!</h5>
    <main class="container list-group">
        <div class="row">
            <aside class = "col-12 col-md-6">
                <h3>Profile Details</h3>
                <li class="list-group-item">Email: {{ current_user.email }}</li>
                <li class="list-group-item">Token: {{ current_user.token }}</li>
            </aside>
        </div>
    </main>
    <main class="container cosmo_form">
        <div class="col">
            <aside class="col-12 col-md-6">
                <h2>Planet Locator</h2>
                {% include 'cosmoform.html' %}
            </aside>
        </div>
        <div class="col">
            <aside class="col-12 col-md-6">
                <h2>Star Locator</h2>
                {% include 'starform.html' %}
            </aside>
        </div>
    </main>
</header>

<div class="container">
    <h1 class="planet-title">Your Cosmos</h1>
    <div class="profile-items-row">
        {% for cosmo in cosmos %}
            <div class="card" style="width: 18rem;">
                <img src="../static/images/planet_creation.jpg" class="card-img-top" alt="new planet">
                <div class="card-body">
                <h5 class="card-title">{{ cosmo.name }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Mass: {{ cosmo.mass }}</li>
                <li class="list-group-item">Temperature: {{ cosmo.temperature }}</li>
                <li class="list-group-item">Light year distance: {{ cosmo.distance_light_year }}</li>
                <li class="list-group-item">Radius: {{ cosmo.radius }}</li>
                </ul>
                <div class="card-body">
                <a href="#" class="card-link">Update Cosmo</a>
                <a href="#" class="card-link">Delete Cosmo</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}